<dx-tab-panel>
  <dxi-item title="Entire List">
    <div *dxTemplate>
      <dx-data-grid
        id="grid-container"
        [dataSource]="movieList"
        [showBorders]="false"
        (onToolbarPreparing)="onToolbarPreparing($event)"
        (onCellPrepared)="onCellPrepared($event)"
      >
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]="allowedPageSizes"
          [showPageSizeSelector]="true"
          [showNavigationButtons]="true"
          displayMode="compact"
        >
        </dxo-pager>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-selection mode="multiple"></dxo-selection>

        <!-- <dxi-column
          type="buttons"
          [width]="110"
          headerCellTemplate="header-cell-template"
        >
          <dxi-button name="edit"></dxi-button>
          <dxi-button name="delete"></dxi-button>
        </dxi-column>
        <div *dxTemplate="let data of 'header-cell-template'">
          <i class="dx-icon-email"></i>
        </div> -->
        <dxi-column dataField="id" caption="ID" [width]="90"></dxi-column>
        <dxi-column dataField="title"></dxi-column>
        <dxi-column
          dataField="original_language"
          cssClass="language"
        ></dxi-column>
        <dxi-column dataField="overview"></dxi-column>
        <dxi-column dataField="vote_count"></dxi-column>

        <dxi-column dataField="vote_average" cellTemplate="cellTemplate">
          <div *dxTemplate="let data of 'cellTemplate'">
            <!-- <div *ngFor="let actionButton of actionButtons">
              <dx-button
                [icon]="actionButton.icon"
                [id]="actionButton.id"
              ></dx-button>
              <dx-tooltip
                [target]="'#' + actionButton.id"
                showEvent="dxhoverstart"
                hideEvent="dxhoverend"
                position="left"
              >
                <div *dxTemplate="let data of 'content'">
                  <p>{{ actionButton.tooltip }}</p>
                </div>
              </dx-tooltip>
            </div> -->
            <div>
              <dx-button
                icon="filter"
                id="preview"
                (onClick)="isContextMenuVisible = true"
              ></dx-button>
              <dx-context-menu
                [(visible)]="isContextMenuVisible"
                [dataSource]="dataSource"
                [width]="200"
                target="#preview"
              >
                <div *dxTemplate="let e of 'item'">
                  <div>
                    <span [ngClass]="e.icon"></span>
                    <span *ngIf="e.items" class="dx-icon-spinright"></span>
                    {{ e.text }}
                  </div>
                </div>
              </dx-context-menu>
              <dx-tooltip
                target="#preview"
                showEvent="dxhoverstart"
                hideEvent="dxhoverend"
                position="left"
              >
                <div *dxTemplate="let data of 'content'">
                  <p>Preview</p>
                </div>
              </dx-tooltip>
            </div>

            <div>
              <dx-button
                [text]="data.value"
                id="note"
                (onClick)="showInfo()"
              ></dx-button>

              <dx-tooltip
                target="#note"
                showEvent="dxhoverstart"
                hideEvent="dxhoverend"
                position="left"
              >
                <div *dxTemplate="let data of 'content'">
                  <p>note</p>
                </div>
              </dx-tooltip>

              <dx-popup
                [(visible)]="popupVisible"
                [showCloseButton]="true"
                [showTitle]="true"
                title="Note"
                [width]="700"
                [height]="400"
              >
                <dxi-toolbar-item
                  widget="dxButton"
                  toolbar="top"
                  locateInMenu="always"
                  [options]="moreInfoButtonOptions"
                ></dxi-toolbar-item>
                <app-dialog></app-dialog>
                <p>{{ data.value }}</p>
              </dx-popup>
            </div>
          </div>
        </dxi-column>
        <!-- <dxi-column dataField="popularity" dataType="date"></dxi-column> -->

        <dxo-editing mode="popup" [allowUpdating]="true">
          <dxo-popup
            title="Note"
            [showTitle]="true"
            [width]="700"
            [height]="700"
          >
          </dxo-popup>
          <dxo-form>
            <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
              <dxi-item
                dataField="overview"
                editorType="dxTextArea"
                [colSpan]="2"
                [editorOptions]="{ height: 100 }"
              >
              </dxi-item>
            </dxi-item>
          </dxo-form>
        </dxo-editing>
        <dxi-column
          type="buttons"
          [width]="110"
          headerCellTemplate="header-cell-template"
        >
          <dxi-button icon="box" name="edit"></dxi-button>
          <dxi-button icon="eyeopen"></dxi-button>
          <dxi-button icon="more"></dxi-button>
        </dxi-column>
        <div *dxTemplate="let data of 'header-cell-template'">Action</div>

        <dxo-summary>
          <dxi-total-item
            column="popularity"
            summaryType="count"
            [customizeText]="customizeText"
          >
          </dxi-total-item>
        </dxo-summary>
        <!-- <dx-toolbar>
          <dxi-item widget="dxCheckBox" [options]="{ text: 'Show IDs' }">
          </dxi-item>
        </dx-toolbar> -->
      </dx-data-grid>
    </div>
  </dxi-item>
  <dxi-item title="Remember List">
    <dx-data-grid
      id="grid-container"
      [dataSource]="dataSource"
      [showBorders]="true"
    >
      <dxo-selection mode="multiple" [deferred]="true"></dxo-selection>
      <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
      <dxi-column caption="Subject" dataField="Task_Subject"></dxi-column>
      <dxi-column
        caption="Start Date"
        dataField="Task_Start_Date"
        width="auto"
        dataType="date"
      ></dxi-column>
      <dxi-column
        caption="Due Date"
        dataField="Task_Due_Date"
        width="auto"
        dataType="date"
      ></dxi-column>
      <dxi-column
        caption="Assigned To"
        dataField="ResponsibleEmployee.Employee_Full_Name"
        width="auto"
        [allowSorting]="false"
      ></dxi-column>
      <dxi-column
        caption="Status"
        dataField="Task_Status"
        width="auto"
        cellTemplate="cellTemplate"
      >
        <div *dxTemplate="let cellData of 'cellTemplate'">
          <dx-button icon="filter"></dx-button>
        </div>
      </dxi-column>
    </dx-data-grid>
  </dxi-item>
  <dxi-item title="Hidden List">
    <!-- ... -->
  </dxi-item>
</dx-tab-panel>

<!-- <dx-button text="Open the context menu" (onClick)="isContextMenuVisible = true">
</dx-button>
<dx-context-menu
  [items]="contextMenuItems"
  target="#someElement"
  [(visible)]="isContextMenuVisible"
>
</dx-context-menu> -->
