<dx-tab-panel>
  <dxi-item title="Entire List">
    <div *dxTemplate>
      <dx-data-grid
        id="grid-container"
        [dataSource]="movieList"
        [showBorders]="false"
        (onToolbarPreparing)="onToolbarPreparing($event)"
        (onCellPrepared)="onCellPrepared($event)"
      >
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]="allowedPageSizes"
          [showPageSizeSelector]="true"
          [showNavigationButtons]="true"
          displayMode="compact"
        >
        </dxo-pager>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxi-column dataField="id" caption="ID" [width]="90"></dxi-column>
        <dxi-column dataField="title"></dxi-column>
        <dxi-column
          dataField="original_language"
          cssClass="language"
        ></dxi-column>
        <dxi-column dataField="overview"></dxi-column>
        <dxi-column dataField="vote_count"></dxi-column>
        <dxi-column dataField="vote_average"></dxi-column>
        <dxi-column dataField="popularity" dataType="date"></dxi-column>

        <dxo-summary>
          <dxi-total-item
            column="popularity"
            summaryType="count"
            [customizeText]="customizeText"
          >
          </dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </div>
  </dxi-item>
  <dxi-item title="Remember List">
    <dx-data-grid
      id="grid-container"
      [dataSource]="dataSource"
      [showBorders]="true"
    >
      <dxo-selection mode="multiple" [deferred]="true"></dxo-selection>
      <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
      <dxi-column caption="Subject" dataField="Task_Subject"></dxi-column>
      <dxi-column
        caption="Start Date"
        dataField="Task_Start_Date"
        width="auto"
        dataType="date"
      ></dxi-column>
      <dxi-column
        caption="Due Date"
        dataField="Task_Due_Date"
        width="auto"
        dataType="date"
      ></dxi-column>
      <dxi-column
        caption="Assigned To"
        dataField="ResponsibleEmployee.Employee_Full_Name"
        width="auto"
        [allowSorting]="false"
      ></dxi-column>
      <dxi-column
        caption="Status"
        dataField="Task_Status"
        width="auto"
      ></dxi-column>
    </dx-data-grid>
  </dxi-item>
  <dxi-item title="Hidden List">
    <!-- ... -->
  </dxi-item>
</dx-tab-panel>
