<div>
  Admin Note
  <dx-text-area
    [height]="90"
    [readOnly]="true"
    value="Aenean quis tincidunt augue. Vestibulum laoreet lacus purus, in porta augue auctor ut. Mauris vel lectus quis quam vulputate venenatis non sit amet nibh. Donec in pulvinar eros, et posuere justo. Integer mi metus, sodales a nulla at, aliquet facilisis eros."
    [inputAttr]="{ 'aria-label': 'Notes' }"
  >
  </dx-text-area>
</div>
<div>
  My Note
  <dx-text-area
    [height]="90"
    value="Aenean quis tincidunt augue. Vestibulum laoreet lacus purus, in porta augue auctor ut. Mauris vel lectus quis quam vulputate venenatis non sit amet nibh. Donec in pulvinar eros, et posuere justo. Integer mi metus, sodales a nulla at, aliquet facilisis eros."
    [inputAttr]="{ 'aria-label': 'Notes' }"
  >
  </dx-text-area>
</div>
